*{
    padding:0;
    margin:0;
}
 
body{
    background-color:#F8F0E3;
}

/*Cursor Follower*/
.cursor{
    position:fixed;
    width:50px;
    height:50px;
    border:1px solid #474747;
    border-radius:50%;
    left:0;
    top:0;
    pointer-events:none;
    transform:translate (-50%, -50%);
    transition:.1s;
}
  
.cursor2{
    position:fixed;
    width:8px;
    height:8px;
    background-color:#474747;
    border-radius:50%;
    left:0;
    top:0;
    pointer-events:none;
    transform:translate (-50%, -50%);
    transition:.15s;
}

/*Banner*/
h1{
    font-size:100px;
    text-align:center;
    margin-top:10px;
  
}

#title{
    text-align:center;
    font-size:30px;
}

/*Music*/
#music{
    text-align:center;
    font-size:80px;
}

#playbtn, #pausebtn{
    background-color:#800000;
    color:white;
    padding:10px;
    border-radius:10px;
    border:none;
    margin-left:10px;
    margin-right:10px;
    margin-top:30px;
    font-size:20px;
}

.indicator{
    box-shadow:12px 12px 24px #752c2c;
}

/*Background Colour*/
h3{
    font-size:25px;
    margin:10px;
}

#background{
    font-size:20px;
    margin:20px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

form{
    border:solid 3px black;
    padding-left:20px;
    padding-bottom:10px;
    margin-bottom:20px;
    border-radius:20px;
    width:500px;
}

/*Carousel*/
img{
    width:700px;
    height:400px;
    border:solid 5px black;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:30px;
}

#prev, #next{
    background-color:transparent ;
    position:absolute;
    color:black;
    border:none;
    font-size:30px;
    margin-top:200px;
    margin-left:15%;
}

#next{
    right:0;
    margin-right:15%;
}

/*Active Dots*/
#dotbuttons{
    text-align:center;
}

.dot {
    cursor:pointer;
    height:17px;
    width:17px;
    margin-left:2px;
    background-color:#800000;
    border-radius:50%;
    display:inline;
    transition:background-color 0.6s ease;
    margin-bottom:50px;
    border:none;
    
}
  
.active, .dot:hover {
    background-color:#eb8383;
}

/*Caption name*/
#caption{
    text-align:center;
    font-size:20px;
    margin-bottom:10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}